Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
drf-spectacular[sidecar]>=0.27,<1.0
django-cors-headers>=4.3
python-decouple>=3.8
psycopg2-binary>=2.9
gunicorn>=21.2
django-redis>=5.4

redis>=5.0  # usado pelo cache (django-redis)

# LDAP / Active Directory
ldap3>=2.9

# Testes de carga (dev/QA only)
locust>=2.20
